<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all", :debug => false %>
  <%= javascript_include_tag "application", :debug => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<p>
  <%= link_to 'Home', root_path %> | 
  <%= link_to 'Edit posts', posts_path %>
</p>

<%= yield %>

</body>
</html>
